#Ignore Dataset
data/*
#Ignore models
models/train-version-RFB/*
!models/onnx/sample_person.onnx
models/onnx/*
!models/kmodel/sample_person.kmodel
models/kmodel/*


#Ignore upload_data
upload_data/*
#Ignore ncc output
memory_usage.txt
#Ignore inference
inference/*
!inference/bin
!inference/binout